* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
}

:root {
  --russian-violet-color: #42033d;
  --tyrian-purple-color: #680e4b;
  --dark-magneta-color: #7c238c;
  --purpureus-color: #854798;
  --pomp-power-color: #7c72a0;
}

html {
  font-size: 64.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

a,
p {
  font-size: 1.6rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: rgba(87, 199, 133, 1);
}

/* Container */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container_lg {
  max-width: 1400px;
}

.container_sm {
  max-width: 900px;
}

/* Header */
.header {
  margin: 2rem auto;
}

.header .logo {
  width: 50px;
}

.header .header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main_menu {
  display: flex;
  gap: 1.5rem;
}

.header .main_menu a {
  padding: 0.5rem 1rem;
}

.header .main_menu a:hover {
  background: #fcf5e9;
}
