* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
}

:root {
  --russian-violet-color: #42033d;
  --tyrian-purple-color: #680e4b;
  --dark-magneta-color: #7c238c;
  --purpureus-color: #854798;
  --pomp-power-color: #7c72a0;

  --white-color: #fff;
  --txt-color: #000;
  --dark-color: #333;

  --container-narrow: 900px;
  --container-normal: 1150px;
  --container-wide: 1400px;
}

html {
  font-size: 64.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

a,
p,
h4 {
  font-size: 1.6rem;
  color: var(--txt-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: rgba(87, 199, 133, 1);
}

/* Utylities */
.bg_primary {
  background: var(--pomp-power-color);
  color: var(--white-color);
}

.bg_dark {
  background: var(--dark-color);
  color: var(--white-color);
}

.bg_dark .bg_primary {
  padding: 0 0.3rem;
}

.section_heading {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Container */
.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 2rem;
}

.container_lg {
  max-width: var(--container-wide);
}

.container_sm {
  max-width: var(--container-narrow);
}

/* Header */
.header {
  margin: 2rem auto;
}

.header .logo {
  width: 50px;
}

.header .header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main_menu {
  display: flex;
  gap: 1.5rem;
}

.header .main_menu a {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.header .main_menu a:hover {
  background: var(--purpureus-color);
  color: var(--white-color);
}

.current {
  background: var(--purpureus-color);
  color: var(--white-color);
  font-weight: 600;
}

/* Hero */
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: normal;
}

/* Gallery */
.gallery_flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery_item {
  width: calc(33.333% - 20px);
  border-radius: 10px;
}

.gallery_item img {
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

.gallery_item img:hover {
  opacity: 0.95;
}

/* Footer */
.footer {
  border-top: 1px solid var(--russian-violet-color);
  padding: 2.2rem 1.5rem;
  margin-top: 2.4rem;
}

.footer .footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer_flex img {
  height: 40px;
}

.footer h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer a {
  margin: 0.3rem;
}

/* Services */
.services {
  background: var(--pomp-power-color);
  padding: 3.5rem 0 4.5rem;
}

.services .services_flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

/* Team */
.team {
  padding: 3.5rem 0 4.5rem;
}

.team .team_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* Contact */
.contact {
  padding: 3rem 0 4rem;
}

.contact p {
  text-align: center;
  margin-bottom: 2rem;
}

.form_group button {
  margin: 2rem 0;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 1.25rem 1rem;
  border-bottom: 1px solid var(--dark-color);
  font-family: inherit;
  font-size: inherit;
}

.contact textarea {
  height: 200px;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
}

.contact button {
  border: none;
  width: 100%;
  padding: 1.25rem 1rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header .header_flex,
  .footer .footer_flex,
  .services .services_flex,
  .team .team_flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero {
    height: 300px;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .gallery_item {
    width: calc(50% - 20px);
    border-radius: 10px;
  }

  .footer .footer_flex img {
    display: none;
  }

  .team .team_flex .team_item {
    max-width: 450px;
    margin-bottom: 1rem;
  }
}
